# Don't track all of the Rust build or VS-Code config files
# Files to maintain removed 
MotorcycleSpeedometer-MCU-Rust/target
MotorcycleSpeedometer-MCU-Rust/Cargo.lock
MotorcycleSpeedometer-MCUz-Rust/.vscode
MotorcycleSpeedometer-MCU/.settings
MotorcycleSpeedometer-MCU/.vscode
MotorcycleSpeedometer-MCU/Debug
